<!DOCTYPE html>
<html>
    <head>
        <title>Oscar's Questions</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <style>
        #id_QuestionTitle {
            width: 300px;
            height: 200px;
        }
    </style>

    <body>
    {% block content %}{% endblock content %}
    </body>


</html>